.card{
  position: absolute;
  top: 0;
  &ImageContainer {
    height: 160px;
    & img {
      max-height: 180px;
    }
  }
}

.navigationList {
  width: 33.3333%;
}

.navigationLink {
  color: #2BB9FF;
}

.blackLayer {
  width: 100%;
  height: 100%;
  background: rgba(#3363FF, 0.4);
  top: 0;
  left: 0;
  z-index: 1;
}