.card{
  position: absolute;
  top: 0;
  &ImageContainer {
    height: 160px;
    & img {
      max-height: 180px;
    }
  }
}

.navigationList {
  width: 33.3333%;
}

.navigationLink {
  color: #2BB9FF;
}