.table{
	width: 100%;
	display: flex;
	flex-direction: column;
}
.thead{
	display: flex;
width: 100%;
height: 32px;
background: #F6F6F6;
}
.thead > .th{
	display: flex;
	flex: 1;
height: 19px;
top: 301px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 158%;
color: #666666;
}
.thead > .space{
	display: flex;
height: 19px;
top: 301px;
font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 158%;
color: #666666;
width: 55px;
}
.tbody{
	display: flex;
	max-width: 100%;
		min-height: 120px;
	max-height: 120px;
	overflow-y: auto;
		overflow-x: hidden;
	width: 100%;
	flex-direction: column;

}
.tbody > .tr{
	display:flex ;
	width: 650px;
	flex-direction: row;
	flex: 1;
left: 69.14%;
right: 25%;
top: 42.07%;
bottom: 56.46%;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 12px;
display: flex;
align-items: center;
color: #333333;
}

.tbody >.tr > .td{
	display: flex;
	flex: 1;
}

.tbody > .tr > .td >.stock{
width: 30px;
}

.tbody >.tr > .num{
	margin-left: 25px;
	width: 30px;
height: 15px;
top: 408px;
font-family: Mont;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: center;
color: #1E81B2;
font-weight: bold;

}




