.redIndicator {
  color: #FD2626;
}

.downloadBtn {
  background: #FFFFFF;
  border: 0.6px solid #155C80;
  height: 40px;
  min-width: 190px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
}

.orange {
  color: #FF7A00;
}
