@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
.fileItem {
  padding: 5px 12px;
  background-color: #f6f6f6;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 10px;
}
.fileSize {
  color: #3363FF;
}

.closeButton {
  background: none;
  border: none;
}
.descTicket{
width: 100%;
left: 361px;
top: 359px;
border: 0.6px solid #D6E0FF;
box-sizing: border-box;
border-radius: 16px;
}

.respResolutor{
width: 100%;
height: 110px;
max-height: 240px;
box-sizing: border-box;
border-radius: 16px;
border: 0.6px solid #D6E0FF;
overflow: scroll;
}

.respResolutorP{
font-family: lato;
font-style: normal;
line-height: 18,96px;
letter-spacing: 3%;
color: #212121;
font-size: 12px;
margin-top: 0px;
width: 110px;
}


.btnForm{
width: 176px;
height: 48px;
border-radius: 16px;
background: #FF7E44;
border-radius: 16px;
}

.btnT{

/* button normal app */

font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 22px;
align-items: center;
text-align: center;
color: hsl(0, 0%, 100%);
}

.cardumen{
	width: 100%;
	padding: 35px 25px 0px 25px;
	height: 517px;
	background: #FFFFFF;
	border-radius: 15px;
}

.cardcita{
	height: 350px;
}

.nTicket{
	width: 200px;
	height: 28px;
	color: #212121;
	font-family: mont;
	font-size: 22px;
	font-weight: bold;
	padding-left: 23px;
}

.oAsociada{
	color: #212121;
	font-size: 14px;
	font-style: normal;
	line-height: 21px;
	font-weight: bold;
	font-family: poppins;;
	width: 100%;
	padding-left: 23px;
}

.motivo{
	width: 350px;
	height: 20px;
	font-family: mont;
	font-size: 16px;
	line-height: 19px;
	padding-top: 16px;
}

.content{
	padding-top: 12px;
	color: #212121;
	width: 350px;
	left: 790px;
	height: 46px;
	font-family: lato;
	font-weight: bold;
	font-size: 12px;
}

.trakN{
	font-family: poppins;
	color: #212121;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	font-style: normal;
	padding: 0px 0px 0px 10px;
}