.fileItem {
  padding: 5px 12px;
  background-color: #f6f6f6;
  margin: 8px 0;
  border-radius: 5px;
  font-size: 10px;
}
.fileSize {
  color: #3363FF;
}

.closeButton {
  background: none;
  border: none;
}
.descTicket{
width: 100%;
left: 361px;
top: 359px;
border: 0.6px solid #D6E0FF;
box-sizing: border-box;
border-radius: 16px;
}

.respResolutor{
width: 100%;
left: 790px;
top: 359px;
border: 0.6px solid #D6E0FF;
box-sizing: border-box;
border-radius: 16px;
}