.bigNumber {
  font-size: 36px;
  color: #333333;
}
.listItem {
  min-width: 33.333%;
  text-align: center;
}
.xySeparator {
  border-right: 1px solid #333333;
  border-left: 1px solid #333333;
}