.tag {
  padding: 4px 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  color: #FFF;
  width: fit-content;
}

.warning {
  background: #ffe27c;
  color: #665a32;
}

.danger {
  background: #fe6767;
}

.info {
  background: #3363ff;
}

.success {
  background: #2bb9ff;
}

.default {
  background: #b3b3b3;
}
