.textarea {
  border: 0.6px solid #378ab8;
  box-sizing: border-box;
  border-radius: 16px;
  color: #A4A4A4;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.03em;
  min-height: 75px;
  max-height: 150px;
  padding: 12px 24px;
  width: 358px;
  max-width: 358px;
  min-width: 358px;
}

.contentBtn {
  width: 358px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  width: 154px;
}