.orderedList {
  list-style: none;
  counter-reset: my-awesome-counter;
  & > li {
    counter-increment: my-awesome-counter;
    margin-bottom: 25px;
    padding-left: 25px;
  }
  & > li::before {
    content: counter(my-awesome-counter) "";
    color: white;
    font-weight: bold;
    width: 25px;
    height: 25px;
    background: #2BB9FF;
    display: inline-block;
    padding: 3px 9px;
    border-radius: 50rem;
    margin-right: 15px;
    position: absolute;
    left: 28px;
  }
  & a {
    color: #FF7E44;
    text-decoration: underline;
  }
}