.card {
  min-height: 520px;
}

.badge {
  padding: 20px 150px 20px 20px;
  border: #808080;
  background: #CCCCCC;
  border-radius: 10px;
  border: 1px solid #4D4D4D;
}

.errorMessage {
  background: #E5E5E5;
}

.close {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: bold;
  background: none;
  border: none;
}
