.card {
  min-height: 520px;
}

.badge {
  padding: 20px 150px 20px 20px;
  border: #808080;
  background: #CCCCCC;
  border-radius: 10px;
  border: 1px solid #4D4D4D;
}

.errorMessage {
  background: #E5E5E5;
}

.close {
  color: #aaaaaa;
  font-size: 15px;
  font-weight: bold;
  background: none;
  border: none;
}

.alert{
border: 1px solid #E0C35C;
box-sizing: border-box;
border-radius: 10px;
display: flex;
flex-direction: row;
align-items: center;
padding: 24px;
width: 1119px;
height: 56px;
top: 96px;
background: #FFF6D8;
width: 1184px;
height: 56px;
left: 20px;
top: 20px;
margin-top: 25px;
}

.pAlert{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
margin-top: 25px;

}

.tAlert{
	font-family: Lato;
font-style: normal;
font-weight: bold;
font-size: 18px;
display: flex;
align-items: center;
}

.img{
	position: static;
width: 26px;
height: 29px;
left: calc(50% - 26px/2 - 522.5px);
top: 13.5px;
}

.fileUp{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;
background: #FFFFFF;
border-radius: 15px;
}

.analyticsOrders{
top: 30.54%;
background: #FFFFFF;
border-radius: 15px;
}

h3{
	font-family: Mont;
font-size: 22px;
line-height: 26px;
display: flex;
align-items: cente
}

p{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 145%
}

h5{
	font-family: Mont;
font-size: 26px;
line-height: 30px;
}

.pFileUp{
	font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 150%;
}