@import 'styles/utils/variables';

.contentTwo {
  height: 100%;
  border-left: 0.6px solid #1e81b2;
  position: relative;
}

.nextButton {
  width: 190px;
  font-size: 18px;
}

.contentBottomBtn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  & > .nextButton {
    margin-right: 3rem;
  }
}
