.disabled {
  border: 1px solid rgb(26, 111, 153);
  background-color: #fafafa !important;
    color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
}

.input {
  height: 40px;
  border: 0.6px solid #114a66;
}
