.centerImg {
  text-align: center;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0;
}

.colorNum {
  width: 32px;
  height: 30px;
  right: 47px;
  top: 24px;
  padding: 0px 0px 0px 0px;
  font-family: Mont;
  font-size: 26px;
  line-height: 30px;
  text-align: right;
  color: #27a6e5;
}

.colorState {
  height: 16px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  font-weight: bold;
  font-family: Mont;
  font-size: 15px;
  line-height: 109.9%;
  text-align: center;
  color: #e5713d;
}

.sevenDays {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 158%;
  letter-spacing: 0.03em;
  color: #666666;
}

.titulo {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  display: contents;
  align-items: center;
  color: #212121;
}

.link {
  font-family: Lato;
  font-size: 12px;
  line-height: 158%;
  align-items: center;
  letter-spacing: 0.03em;
  color: #2bb9ff;
}

.simulateReport {
  width: 100%;
  height: 135px;
}

.alertBackOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background: #fbfbfb;
  border: 0.6px solid #d6e0ff;
  box-sizing: border-box;
  border-radius: 10px;

  & .icon {
    margin-right: 15px;
  }
  & .message {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #0032a0;
    & > a {
      color: #ff881a;
      padding: 0 1ch;
    }
  }
}
