.badge {
  padding: 20px 150px 20px 20px;
  border: #808080;
  background: #CCCCCC;
  border-radius: 10px;
  border: 1px solid #4D4D4D;
}

.errorMessage {
  background: #E5E5E5;
}

.cancel{
	font-size: 18px;
	font-family: mont;
	line-height: 16px;
	font-weight: 600px;
	width: 250px;
}