.table {
    width: 100%;
    display:block;
}
.thead {
    display: inline-block;
    width: 100%;
    height: 30px;
}
.tbody{
    height: 100px;
    display: inline-block;
    width: 100%;
    overflow: auto;
		display: flex;
}

.tbody > tr {
	display: flex;
}

