.cardForm {
  background: white;
  display: column;
}

#container {
  width: 960px;
  margin: 0 auto;
}

.col1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 25px 30px 25px 30px;
  width: 450px;
  float: left;
  background-color: white;
  margin: 10px;
  width: 526px;
  height: 534px;
  left: 145px;
  top: 216px;
  background: #ffffff;
  border-radius: 15px;
}
h2 {
  width: 252px;
  height: 23px;
  left: 822px;
  top: 322px;

  /* Subtitle app */
  display: flex;
  margin: auto;
  font-family: Mont;
  font-size: 18px;
  line-height: 21px;

  /* Black total */

  color: #212121;
}

.h1 {
  width: 230px;
  height: 26px;
  left: 188px;
  top: 256px;

  /* Button large app */

  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;

  /* Black total */

  color: #212121;
}
::placeholder {
  color: #A4A4A4;
}

.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;

  position: static;
  width: 100%;
  height: 40px;
  left: 0px;
  top: 25px;

  /* Light sea */

  border: 0.6px solid #114a66;
  box-sizing: border-box;
  border-radius: 16px;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px;
}

.col2 {
  padding: 25px 30px 25px 30px;

  width: 450px;
  float: left;
  background-color: white;
  margin: 10px;
  color: blue;
  width: 526px;
  height: 534px;
  left: 145px;
  top: 216px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  /* Blanco Press */

  background: #ffffff;
  border-radius: 15px;
}

.h {
  height: 440px;
}

.btnSecondary{
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
width: 149px;
height: 48px;
left: 491px;
top: 662px;
color: white;
/* Naranjo full */
background: #E5713D;
border-radius: 10px;
}
