*,*::after,*::before {
  box-sizing: border-box;
}

html,body {
  height: 100vh;
  background-color: #E5E5E5;
}
.container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.offModal {
  z-index: 10;
  position: fixed;
  top: 17vh;
  left: 61vw;
}
.close{
  background-color: white;
  border: none;
}
header{
  width: 100%;
  background-color: #111;
  display: flex;
  justify-content: flex-end;
}

header img {
  padding: .3em;
  margin: 0 .4em;
}

header section {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header p{
  color: #FFF;
  font-family: 'Lato', sans-serif;
}
header small{
  color: #FCBE69;
}


main{
  margin: auto;
  width: 90%;
  padding: 1em 2em;
}

main aside {
  display: flex;
}

main aside p{
  font-family: 'Lato', sans-serif;
  font-size: .9em;
  color:#828282;
  padding: 0 .5em;
}

main article h1 {
  font-family: 'Roboto', sans-serif;
}

main section div {
  display: flex;
  justify-content: space-between;
}
.actions input{
  border: 1px solid black;
  margin: 0 .5em .7em;
  border-radius: 1.9em;
  text-align: center;
}
.actions select{
  border: 1px solid black;
  padding: 1em 1.5em;
  margin: 0 .5em .7em;
  border-radius: 1.9em;
  text-align: center;
}
.table {
  width: 100%;
  text-align: center;
  margin: 0 0 1em;
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;}

.table thead {
  background-color: #c4c4c4;

}
.table tbody {
  background-color: #FFF;
  
}
.table tbody tr td{
  padding: 1em;
}
.table tbody tr td button{
  background-color: #FFF;
  border: none;
}

.commands {
  display: flex;
  justify-content: flex-start;
}

.commands p{
  margin-left: 1em;
}

.commands p:first-child{
  margin-left: 0;
}

.commands p:last-child{
  margin-left: auto;
  word-spacing: .5em;
}

.commands select{
  padding: .3em 1.5em;
  margin: 0 .5em .9em;
  border-radius: .8em;
  text-align: center;
}
footer{
  background-color: #FFF;
  color: #000;
  text-align: center;
  width: 100%;
}