@import "../../../styles/utils/variables";
header{
  width: 100%;
  background-color: $emphasis-color;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

header img {
  padding: .3em;
  margin: 0 .4em;
}

header section {
  padding: 1em;
  display: flex;
  flex-direction: column;
}

header p{
  color: #FFF;
  font-family: 'Lato', sans-serif;
}
header small{
  color: #FCBE69;
}

.headerCard {
  position: absolute;
  z-index: 4;
  right: 40px;
  top: 68px;
  padding: 0 30px !important;
  & p {
    color: $primary-color;
  }
  & span {
    color: $emphasis-color;
  }
}